<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User creator</title>
</head>
<body>
<h1> Create User </h1>

<form th:object="${user}" method="post">
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" placeholder="name" th:field="*{firstName}"
               th:value="*{firstName}">

        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" placeholder="surname" th:field="*{lastName}"
               th:value="*{lastName}">

        <label class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="email" th:field="*{email}"
               th:value="*{email}">

        <label class="form-label">Mobile</label>
        <input type="text" class="form-control" placeholder="Mobile" th:field="*{mobile}"
               th:value="*{mobile}">

        <label class="form-lavel">Company</label>
        <select th:field="*{company}">
            <option th:each="companies : ${allCompanies}" th:value="${companies.id}"
                    th:text="${companies.getName()}"></option>
        </select>
        <!--        Tutaj trzeba podac ID firmy do ktorej chce sie dolaczyc zakladajac konto-->
        <label class="form-label">Username</label>
        <input type="text" class="form-control" placeholder="username" th:field="*{username}"
               th:value="*{username}">

        <label class="form-label">Password</label>
        <input type="password" class="form-control" th:field="*{password}" th:value="*{password}">
    </div>
    <button type="submit" value="CREATE">CREATE</button>
</form>
</body>
</html>